/*
#323031 - primary
#f0f8ff - secondary
#48A9A6 - main
#09B3AD - main offset
*/


body {
    margin: 0;
    background-color: #323031;
    color: #f0f8ff;
    font-family: "system-ui", sans-serif;
}

.hidden {
    display: none!important;
}

.top-bar {
    height: 5vh;
    display: flex;
    border: 2px solid #48A9A6;
    border-radius: 10px;
    margin: .5vh .5vw;
}

.top-bar-done {
    width: 75%;
    background-color: #48A9A6;
    border-radius: 5px;
    text-align: right;
    line-height: 5vh;
}

.done-goals-percent {
    margin: 0 .5vw;
}


.board {
    height: 93vh;
    display: grid;
    grid-template-columns: 2fr 4fr;
}

.card {
    margin: .5vh .5vw;
    padding: .5vh .5vw;
    font-size: 2rem;
    border: 2px solid #48A9A6;
    border-radius: .7rem;
}

.goal {
    margin: .5vh .1vw;
    padding: .5vh 1vw;
    border: none;
    background-color: #5F9DD4;
    font-size: 2rem;
    /*width: 25vw;*/
}

.goal-done {
    background-color: #48A9A6;
}

.goal-expired {
    background-color: #BF3438;
}

.goal-deadline {
    text-align: end;
}

.add-goal {
    margin: .5vh .1vw;
    padding: .5vh 1vw;
    border: none;
    font-size: 2rem;
}

.add-goal__open-form {
    display: flex;
    padding: .5vh 0;
}

.add-goal__info-tab {
    font-size: 1.2rem;
}
.add-goal__title-input {
    width: 100%;
    padding: 0;
    background: none;
    color: #f0f8ff;
    font-size: 2rem;
    border: none;
    border-bottom: .15rem solid #f0f8ff;
    transition: border-bottom-color .4s;
}

.add-goal__title-input:focus {
    outline: none;
    border-bottom-color: #F7B32B;
}

.add-goal__title-input:hover {
    border-color: #F7B32B;
}

.add-goal__datetime-input {
    width: 100%;
    padding: 0;
    background: none;
    color: #f0f8ff;
    font-family: "system-ui", sans-serif;
    border: 1px solid #f0f8ff;
    border-radius: .2rem;
    transition: border-color .4s;
}

.add-goal__datetime-input:focus {
    outline: none;
    border-color: #F7B32B;
}

.add-goal__datetime-input:hover {
    border-color: #F7B32B;
}

.add-goal__datetime-input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.add-goal__button {
    width: 100%;
    border-radius: .2rem;
    background: none;
    color: #f0f8ff;
    border: 1px solid #f0f8ff;
    transition: border-color .4s, color .4s;
}

.add-goal__button:focus {
    outline: none;
}

.add-goal__button:not([disabled]):hover {
    color: #F7B32B;
    border-color: #F7B32B;
}

.add-goal__button:disabled {
    filter: opacity(40%);
}

.goal-actions {
    display: flex;
}

.goal-actions__button {
    width: 100%;
    border-radius: .2rem;
    background: none;
    color: #f0f8ff;
    border: 1px solid #f0f8ff;
    transition: border-color .4s, color .4s;
}

.goal-actions__button:focus {
    outline: none;
}

.goal-actions__button:hover {
    color: #F7B32B;
    border-color: #F7B32B;
}

.calendar {
    overflow: scroll;
}
