/*
#323031 - primary
#f0f8ff - secondary
#48A9A6 - main
#09B3AD - main offset
*/


body {
    margin: 0;
    background-color: #323031;
    color: #f0f8ff;
    font-family: "system-ui", sans-serif;
}

.top-bar {
    height: 5vh;
    display: flex;
    border: 2px solid #48A9A6;
    border-radius: 10px;
    margin: .5vh .5vw;
}

.top-bar-done {
    width: 75%;
    background-color: #48A9A6;
    border-radius: 5px;
    text-align: right;
    line-height: 5vh;
}

.done-goals-percent {
    margin: 0 .5vw;
}


.board {
    height: 90vh;
    display: grid;
    grid-template-columns: 2fr 4fr;
}

.card {
    margin: .5vh .5vw;
    padding: .5vh .5vw;
    border: 2px solid #48A9A6;
    border-radius: 10px;
}

.goal {
    margin: .5vh .1vw;
    padding: .5vh 1vw;
    border: none;
    background-color: #5F9DD4;
    display: grid;
    grid-template-columns: 6fr 2fr;
    font-size: 2rem;
}

.goal-done {
    background-color: #48A9A6;
}

.goal-failed {
    background-color: #BF3438;
}

.goal-deadline {
    text-align: end;
}
