
body {
    margin: 0;
    background-color: #323031;
    color: aliceblue;
}

.board {
    display: grid;
    grid-template-columns: 2fr 4fr;
}

.card {
    margin: .5vh .5vw;
    padding: .5vh .5vw;
    border: 1px solid aliceblue;
    border-radius: 10px;
}
